In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn import decomposition
from sklearn.decomposition import FastICA
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data = pd.read_csv("Autism-Child-Data.csv")
data

,1,1.1,0,0.1,1.2,1.3,0.2,1.4,0.3,0.4,...,m,Others,no,no.1,Jordan,no.2,5,'4-11 years',Parent,NO
0,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
2,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
3,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
4,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,1,1,1,1,1,1,1,1,1,1,...,f,White-European,yes,yes,'United Kingdom',no,10,'4-11 years',Parent,YES
287,1,0,0,0,1,0,1,0,0,1,...,f,White-European,yes,yes,Australia,no,4,'4-11 years',Parent,NO
288,1,0,1,1,1,1,1,0,0,1,...,m,Latino,no,no,Brazil,no,7,'4-11 years',Parent,YES
289,1,1,1,0,1,1,1,1,1,1,...,m,'South Asian',no,no,India,no,9,'4-11 years',Parent,YES
290,0,0,1,0,1,0,1,0,0,0,...,f,'South Asian',no,no,India,no,3,'4-11 years',Parent,NO

In [3]:
data.replace('?', np.nan, inplace = True)
data

,1,1.1,0,0.1,1.2,1.3,0.2,1.4,0.3,0.4,...,m,Others,no,no.1,Jordan,no.2,5,'4-11 years',Parent,NO
0,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,0,1,1,1,0,0,...,m,NaN,no,no,Jordan,yes,5,'4-11 years',NaN,NO
2,0,1,0,0,1,1,0,0,0,1,...,f,NaN,yes,no,Jordan,no,4,'4-11 years',NaN,NO
3,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
4,0,0,1,0,1,1,0,1,0,1,...,m,NaN,no,yes,Egypt,no,5,'4-11 years',NaN,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,1,1,1,1,1,1,1,1,1,1,...,f,White-European,yes,yes,'United Kingdom',no,10,'4-11 years',Parent,YES
287,1,0,0,0,1,0,1,0,0,1,...,f,White-European,yes,yes,Australia,no,4,'4-11 years',Parent,NO
288,1,0,1,1,1,1,1,0,0,1,...,m,Latino,no,no,Brazil,no,7,'4-11 years',Parent,YES
289,1,1,1,0,1,1,1,1,1,1,...,m,'South Asian',no,no,India,no,9,'4-11 years',Parent,YES
290,0,0,1,0,1,0,1,0,0,0,...,f,'South Asian',no,no,India,no,3,'4-11 years',Parent,NO

In [4]:
data.dropna(inplace = True)
data.drop("'4-11 years'", axis = 1, inplace = True)

In [5]:
data = data.replace({'m': {"m" : 0, "f" : 1}, "no" : {"yes" : 1, "no" : 0}, "no.1" : {"yes" : 1, "no" : 0}, "no.2" : {"yes" : 1, "no" : 0}, "NO" : {"YES" : 1, "NO" : 0}})

In [6]:
data = pd.get_dummies(data)
data

,1,1.1,0,0.1,1.2,1.3,0.2,1.4,0.3,0.4,...,Jordan_Philippines,Jordan_Romania,Jordan_Sweden,Jordan_Syria,Jordan_Turkey,Parent_'Health care professional',Parent_Parent,Parent_Relative,Parent_Self,Parent_self
0,1,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
5,1,0,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
6,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
7,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
287,1,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
288,1,0,1,1,1,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
289,1,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
290,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
scaler = StandardScaler()
data[['5']] = scaler.fit_transform(data[['5']])
data

,1,1.1,0,0.1,1.2,1.3,0.2,1.4,0.3,0.4,...,Jordan_Philippines,Jordan_Romania,Jordan_Sweden,Jordan_Syria,Jordan_Turkey,Parent_'Health care professional',Parent_Parent,Parent_Relative,Parent_Self,Parent_self
0,1,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
5,1,0,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
6,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
7,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
287,1,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
288,1,0,1,1,1,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
289,1,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
290,0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [8]:
last_row = data["NO"]

In [9]:
data.drop('NO', axis = 1, inplace = True)

In [10]:
def model_RFC(feature, target):
    train_X, val_X, train_Y, val_Y = train_test_split(feature, target, test_size = 0.3, random_state = 42)
    model = RandomForestClassifier(n_estimators=500, random_state = 42, n_jobs = -1, max_depth = 10)
    model.fit(train_X, train_Y.values.ravel())
    preds = model.predict(val_X)
    score = accuracy_score(val_Y, preds)
    return score

In [11]:
def model_DTC(feature, target):
    train_X, val_X, train_Y, val_Y = train_test_split(feature, target, test_size = 0.3, random_state = 42)
    model = DecisionTreeClassifier(max_depth = 20, random_state = 42)
    model.fit(train_X, train_Y)
    preds = model.predict(val_X)
    score = accuracy_score(val_Y, preds)
    return score

In [12]:
def model_KNN(feature, target):
    train_X, val_X, train_Y, val_Y = train_test_split(feature, target, test_size = 0.3, random_state = 42)
    model = KNeighborsClassifier(n_neighbors = 100)
    model.fit(train_X, train_Y.values.ravel())
    preds = model.predict(val_X)
    score = accuracy_score(val_Y, preds)
    return score

In [13]:
print("Decision Tree model accuracy without any feature extraction: ", str(model_DTC(data, last_row)))
print("Random Forest model accuracy without any feature extraction: ", str(model_RFC(data, last_row)))
print("KNN model accuracy without any feature extraction: ", str(model_KNN(data, last_row)))

Decision Tree model accuracy without any feature extraction:  1.0
Random Forest model accuracy without any feature extraction:  1.0
KNN model accuracy without any feature extraction:  0.84

In [14]:
pca = decomposition.PCA(n_components=30, random_state=100)
pca.fit(data)
data_pca = pca.transform(data)
data_pca = pd.DataFrame(data_pca)

In [15]:
print("Decision Tree model with PCA: ", str(model_DTC(data_pca, last_row)))
print("Random Forest model with PCA: ", str(model_RFC(data_pca, last_row)))
print("KNN model with PCA: ", str(model_KNN(data_pca, last_row)))

Decision Tree model with PCA:  1.0
Random Forest model with PCA:  1.0
KNN model with PCA:  0.8533333333333334

In [16]:
ica = FastICA(n_components=42)
data_ica = ica.fit_transform(data)
data_ica = pd.DataFrame(data_ica)

C:\Users\SRILEKHA\anaconda3\lib\site-packages\sklearn\decomposition\_fastica.py:120: ConvergenceWarning: FastICA did not converge. Consider increasing tolerance or the maximum number of iterations.
  ConvergenceWarning)

In [17]:
print("Decision Tree model with ICA: ", str(model_DTC(data_ica, last_row)))
print("Random Forest model with ICA: ", str(model_RFC(data_ica, last_row)))
print("KNN model with ICA: ", str(model_KNN(data_ica, last_row)))

Decision Tree model with ICA:  0.7066666666666667
Random Forest model with ICA:  0.8266666666666667
KNN model with ICA:  0.64

In [18]:
from sklearn.feature_selection import SelectPercentile as SP
selector = SP(percentile=50)
selector.fit(data,last_row.values.ravel())
data_mi = selector.transform(data)
data_mi = pd.DataFrame(data_mi)

In [19]:
print("Decision Tree model with Mutual Information: ", str(model_DTC(data_mi, last_row)))
print("Random Forest model with Mutual Information: ", str(model_RFC(data_mi, last_row)))
print("KNN model with Mutual Information: ", str(model_KNN(data_mi, last_row)))

Decision Tree model with Mutual Information:  1.0
Random Forest model with Mutual Information:  1.0
KNN model with Mutual Information:  0.8533333333333334